[Desktop Entry]
Name=Bambu RTSP Stream
Comment=View RTSP/RTSPS streams from Bambu printers on your LAN
Exec=rnd_bambu_rtsp_stream
Icon=com.example.RndBambuRtspStream
Terminal=false
Type=Application
Categories=Utility;Graphics;
StartupNotify=true

