[Desktop Entry]
Name=Bambu Buddy
Comment=View streams and manage Bambu printers on your LAN
Exec=bambu-buddy
Icon=bambu-buddy
Terminal=false
Type=Application
Categories=Utility;Graphics;
StartupNotify=true
