[Desktop Entry]
Name=BoomPrint
Comment=View streams and manage Bambu printers on your LAN
Exec=boomprint
Icon=boomprint
Terminal=false
Type=Application
Categories=Utility;Graphics;
StartupNotify=true
